.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore everything under outputs...
outputs/**

# ...but keep these folders and files
!outputs/
!outputs/figures/
!outputs/figures/**
!outputs/tables/
!outputs/tables/**
